html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

.container {
  height: 100%;
  width: 100%;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .container .nav {
    display: flex;
    justify-content: center;
    line-height: 70px;
    height: 70px;
    width: 100%;
    font-size: 50px;
    background-color: green;
    color: #ffffff;
    text-align: center;
    box-shadow: 0px 5px 12px 0px rgba(130, 133, 140, 0.98); }
    .container .nav .themeBubble {
      position: absolute;
      display: flex;
      align-items: center;
      right: 30px;
      top: 20px;
      height: 35px;
      width: 66px;
      background-color: #dadfea;
      border-radius: 100px;
      z-index: 9; }
      .container .nav .themeBubble .themeBall {
        height: 27px;
        width: 27px;
        background-color: #2a2a2a;
        border-radius: 50%;
        margin: 0 5px; }
  .container .courseContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    padding-top: 30px; }
    .container .courseContainer .course {
      height: 200px;
      width: 300px;
      padding: 5px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 12px 0px #a8a8a8;
      background-repeat: no-repeat;
      background-size: cover;
      transition: .5s; }
      .container .courseContainer .course .courseContent {
        opacity: 0;
        transition: .5s; }
        .container .courseContainer .course .courseContent h1 {
          display: none;
          text-decoration: underline;
          color: #ffffff; }
        .container .courseContainer .course .courseContent p {
          display: none;
          color: #dadfea;
          text-align: center;
          list-style: none; }
        .container .courseContainer .course .courseContent p:hover {
          text-decoration: underline;
          color: #ffffff; }
    .container .courseContainer .course:hover > .courseContent {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #000;
      transition: .3s;
      opacity: 0.5; }
    .container .courseContainer .course:hover {
      background-image: none;
      transition: .3s;
      background-color: #2a2a2a; }
      .container .courseContainer .course:hover h1 {
        text-align: center;
        display: block; }
      .container .courseContainer .course:hover p {
        text-align: center;
        display: block; }
  .container .box {
    margin-top: 40px;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
    .container .box .column {
      border: 1px solid #2a2a2a;
      background-color: #dadfea; }
      .container .box .column .Row1 {
        height: 30px;
        color: #a9aeb9; }
      .container .box .column .Row2 {
        height: 30px;
        background-color: #F4F8E1; }
      .container .box .column .Row7 {
        background-color: #F4F8E1;
        height: 30px;
        width: 100%; }
      .container .box .column .minibox input {
        background-color: #ffffff;
        width: 100%;
        height: 30px;
        border: 1px solid #dadfea;
        color: #2a2a2a; }
      .container .box .column #col0 {
        background-color: purple; }
        .container .box .column #col0 .minibox input {
          width: 100%;
          font-size: 20px;
          height: 30px;
          border: 1px solid #ffffff; }
